    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Torleif Nielsen &nbsp;
            <span class="icon">
              <i class="fa fa-copyright"></i>
            </span>
            &nbsp;
            2016
          </p>
          <p>
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <a class="" href="https://github.com/torleif-nielsen">
              My GitHub
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
