<nav class="nav shadow-two">
  <div class="nav-center">
    <a class="nav-item" href="{{ .Site.BaseURL}}/">
      Home
      <!-- <span title="Home" class="icon is-large">
        <i class="fa fa-home" aria-hidden="true"></i>
      </span> -->
    </a>
    <a class="nav-item" href="{{ .Site.BaseURL}}/post">
      Posts
      <!-- <span title="Posts" class="icon is-large">
        <i class="fa fa-bookmark" aria-hidden="true"></i>
      </span> -->
    </a>
    <a class="nav-item" href="{{ .Site.BaseURL}}/project">
      Projects
      <!-- <span title="Projects" class="icon is-large">
        <i class="fa fa-gear" aria-hidden="true"></i>
      </span> -->
    </a>
    <a class="nav-item" href="{{ .Site.BaseURL}}/resume">
      Resume/CV
      <!-- <span title="Resume" class="icon is-large">
        <i class="fa fa-file-text" aria-hidden="true"></i>
      </span> -->
    </a>
  </div>
</nav>
<br>
