{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div class="container" id="main">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical is-6">
          <div class="tile is-child notification is-info shadow-two">
            <p class="title">Hello!</p>
            <p class="subtitle">
              My name is Torleif Nielsen, though I go by <b>Tor</b>. I am a growing software developer with a passion for Open Source, and a dream of joining its giants from whom I credit much of what I know.
            </p>
            <a class="button is-medium is-outlined is-primary" href="{{ .Site.BaseURL }}/about/">
              The Full Story
            </a>
          </div>
          <div class="tile is-child">
            <nav class="panel shadow-two">
              <p class="panel-heading">
                <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                External Links
              </p>
              <a class="panel-block" href="https://github.com/torleif-nielsen" target="_blank">
                <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                GitHub
              </a>
              <a class="panel-block" href="https://www.facebook.com/tortoro93" target="_blank">
                <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
                Facebook
              </a>
              <a class="panel-block" href="mailto:torleif@hawaii.edu" target="_blank">
                <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                torleif@hawaii.edu
              </a>
            </nav>
          </div>
        </div>
        <div class="tile is-parent is-6">
          <div class="tile is-child notification is-primary shadow-two">
            <p class="title">Torleif Nielsen</p>
            <p class="subtitle">Software Developer</p>
            <figure class="image is-square is-profile-frame">
              <img alt="Tor's Profile Picture" class="is-profile" src="{{ .Site.BaseURL }}/images/profile_picture.jpg">
            </figure>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child notification is-info shadow-two">
          <p class="title">My Projects</p>
          <p class="subtitle">Some things I'm working on</p>
          <hr>
          <div class="content">
            {{ range where .Data.Pages "Type" "project" }}
              {{ .Render "li" }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child notification is-info shadow-two">
        <div class="content">
          <p class="title">Recent Posts</p>
          <hr>
          <div class="content">
            {{ $post_pag := .Paginate (where .Data.Pages "Type" "post") 5 }}
            {{ range $post_pag.Pages }}
              {{ .Render "li" }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</div>
